<div class="searchbar mb-4">
  <div id="hits"></div>
  <div id="pagination-container"></div>
  <div class="input-search-icon">
    <input class="input-search" placeholder=" Search" type="text">
  </div>
</div>
<div class="clearfix"></div>
<div class="most-popular-blogs mb-4">
  <div class="most-pop-heading text-center">
    <h2>Popular Posts</h2>
  </div>
  <div class="most-pop-body">
    <div class="row mb-2 ">
      <div class="col-3 col-md-4 "><img class="img-fluid" src="/images/most-pop1.jpg" /></div>
      <div class="col-8 col-md-8">
        <h3><a class="most-pop-link" href="/Why-Culture-Is-More-Important-in-Digital-Marketing/">Why Culture
            Is More Important in Digital Marketing?</a></h3>
        <p>Dec, 15th 2018</p>
      </div>
    </div>
    <div class="row mb-2">
      <div class="col-3 col-md-4"><img class="img-fluid" src="/images/most-pop2.jpg" /></div>
      <div class="col-8 col-md-8">
        <h3><a class="most-pop-link" href="/Four-Key-Elements-of-Digital-Presence-and-Their-Necessity/">Four
            Key Elements of Digital Presence and Their Necessity</a></h3>
        <p>Nov, 30th 2018</p>
      </div>
    </div>
    <div class="row">
      <div class="col-3 col-md-4"><img class="img-fluid" src="/images/most-pop3.jpg" /></div>
      <div class="col-8 col-md-8">
        <h3><a class="most-pop-link" href="/3-Key-Elements-of-Success-of-Digital-Marketing-Campaigns/">3 Key
            Elements of Success of Digital Marketing Campaigns</a></h3>
        <p>Nov, 15th 2017</p>
      </div>
    </div>
  </div>
</div>
<div class="clearfix"></div>
<div class="widget mb-4">
  <div class="fdq">
    <div class="subtext mb-2">SUBSCRIBE<br>
      FOR ACCESS<br>
      TO EXCLUSIVE<br>
      CONTENT </div>
    <form class="inline-form" enctype='application/json' onsubmit="return false;">
      <div class="_form-content">
        <div class="row">
          <div class="col-md-12">
            <div class="full-width">
              <div class="_field-wrapper mb-2">
                <input placeholder="Type your email" type="email" name="emailaddress" id="blogsubscribeemailaddress" />
                <span id="blogsubemailErrorMessage" style="color:white;"></span><br />
                <span id="blogchkErrorMessage" style="color:white;"></span>
              </div>
            </div>
            <div class="full-width">
              <div class="row mb-2">
                <div class="col-2">
                  <input id="chkBoxAgree" type="checkbox">

                </div>
                <div class="col-10">
                  <label>I agree to my personal data being stored and used to receive the newsletter as stated in your
                    Privacy Policy.*</label>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="_button-wrapper full-width">
              <button class="_submit" type="submit" id="blogsubmitsubscribe">Subscribe Now</button>
            </div>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </form>
  </div>
</div>
<div class="clearfix"></div>
<div class="follow-us">
  <h2 class="follow-us-title">Follow Us On</h2>
  <div class="follow-us-on facebookbox"><iframe
      src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2Fatcults&width=50px&layout=button&action=like&size=small&show_faces=true&share=true&height=65&appId"
      width="50px" height="65" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
      allowTransparency="true" allow="encrypted-media"></iframe></div>
  <div class="follow-us-on instabox">
    <a href="https://www.instagram.com/atcults" target="_blank"><img src="/images/ig-follow-btn.png"></a>
  </div>
  <div class="follow-us-on twitterbox"><a href="https://twitter.com/atcults?ref_src=twsrc%5Etfw"
      class="twitter-follow-button" data-show-count="false" data-show-screen-name="false">Follow</a>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
  </div>
  <div class="follow-us-on linkedinbox">
    <script src="//platform.linkedin.com/in.js" type="text/javascript"> lang: en_US</script>
    <script type="IN/FollowCompany" data-id="14468205" data-counter="false"></script>
  </div>
</div>