<footer id="footer">
    <div id="footer1">
        <div class="footer-middle">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="footer-address">
                            <h3>Atcults</h3>
                            <p>204, Shanti Mall, Sattadhar X Roads,<br>
                                Sola Road, Ahmedabad, Gujarat 380061</p>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="newsletter-box">
                            <h3>Subscribe for Our Newsletter</h3>
                            <form enctype='application/json' onsubmit="return false;">
                                <div class="input-group">
                                    <input class="form-control" placeholder="Enter your email" type="email"
                                        name="emailaddress" id="subscribeemailaddress" />

                                    <span class="input-group-btn">
                                        <button class="btn btn-theme" type="submit" id="submitsubscribe"><i
                                                class="fa fa-paper-plane" aria-hidden="true"></i></button>
                                    </span>
                                </div>
                                <span id="subemailErrorMessage" class="text-danger"></span>
                            </form>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="Connect-new">
                            <h3>Connect with us</h3>
                            <ul>
                                <li><a target="_blank" href="https://www.facebook.com/atcults"
                                        rel="noreferrer noopener nofollow"><i class="fa fa-facebook fa-white"
                                            aria-hidden="true"></i></a></li>
                                <li><a target="_blank" href="https://twitter.com/atcults"
                                        rel="noreferrer noopener nofollow"><i class="fa fa-twitter fa-white"
                                            aria-hidden="true"></i></a></li>
                                <li><a target="_blank" href="https://www.instagram.com/atcults"
                                        rel="noreferrer noopener nofollow"><i class="fa fa-instagram fa-white"
                                            aria-hidden="true"></i></a></li>
                                <li><a target="_blank" href="https://in.linkedin.com/company/atcults"
                                        rel="noreferrer noopene nofollow"><i class="fa fa-linkedin fa-white"
                                            aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="footer-middle-bottom row">
                    <div class="col-lg-4">
                        <h4>Contact us via Email <span><a href="mailto:sales@atcults.com">sales@atcults.com</a>
                            </span>
                        </h4>
                    </div>
                    <div class="col-lg-4">
                        <h4>Prefer a human voice? <span><a href="tel:+91 99202 26788">+91 99202 26788</a> </span>
                        </h4>
                    </div>
                    <div class="col-lg-4">
                        <h4>Prefer a web form? <span><a href="/contactus">Get in touch</a> </span> </h4>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 pt-4">
                        <ul class="footer-top footer-top-link">
                            <li><a href="/">Home</a></li>
                            <li><a href="/about/">Who We Are</a></li>
                            <li><a href="/what-we-do/">What We Do</a></li>
                            <li><a href="/blog/">Blog</a></li>
                            <li><a href="/work-with-us/">Work with us</a></li>
                            <li><a href="/contactus/">Inquire Now</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-4 pt-4">
                        <p>© Copyright 2018 Atcults. All rights reserved.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<footer class="page-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <nav class="main-nav">
                    <ul class="main-nav__list">
                        <li class="main-nav__item main-nav__item--active"
                            style="opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);"><a rel="nofollow"
                                class="main-nav__link" href="/">Home</a>
                        </li>
                        <li class="main-nav__item main-nav__item--active"
                            style="opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);"><a rel="nofollow"
                                class="main-nav__link" href="/who-we-are">Who We Are</a>
                        <li class="main-nav__item main-nav__item--active"
                            style="opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);"><a rel="nofollow"
                                class="main-nav__link" href="/who-we-are">Who We Are</a>
                        </li>
                        <li class="main-nav__item" style="opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);"><a
                                rel="nofollow" class="main-nav__link" href="/what-we-do">What We Do</a>
                        </li>
                        <li class="main-nav__item" style="opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);"><a
                                rel="nofollow" class="main-nav__link" href="/blog/index">Blog</a>
                        </li>
                        <li class="main-nav__item" style="opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);"><a
                                rel="nofollow" class="main-nav__link" href="/work-with-us">Work with us</a>
                        </li>
                        <li class="main-nav__item" style="opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);"><a
                                rel="nofollow" class="main-nav__link" href="/contactus">Inquire Now</a>
                        </li>

                    </ul>
                </nav>
            </div>
            <div class="col-md-4 Connect-new">
                <ul class="socials">
                    <li class="socials__item">
                        <a class="socials__link" href="https://www.facebook.com/atcults" title="Facebook"
                            target="_blank" rel="noreferrer noopener nofollow">
                            <i class="fa fa-facebook fa-white" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li class="socials__item">
                        <a class="socials__link" href="https://twitter.com/atcults" title="Twitter" target="_blank"
                            rel="noreferrer noopener nofollow">
                            <i class="fa fa-twitter fa-white" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li class="socials__item">
                        <a class="socials__link" href="https://www.instagram.com/atcults" title="Instagram"
                            target="_blank" rel="noreferrer noopener nofollow">
                            <i class="fa fa-instagram fa-white" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li class="socials__item">
                        <a class="socials__link" href="https://in.linkedin.com/company/atcults" title="LinkedIn"
                            target="_blank" rel="noreferrer noopener nofollow">
                            <i class="fa fa-linkedin fa-white" aria-hidden="true"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-md-4">
                <div class="newsletter-box">
                    <h3>Subscribe for Our Newsletter</h3>
                    <form enctype='application/json' onsubmit="return false;">
                        <div class="input-group">
                            <input class="form-control" placeholder="Enter your email" type="email"
                                name="emailaddress" id="subscribeemailaddress" />

                            <span class="input-group-btn">
                                <button class="btn btn-theme" type="submit" id="submitsubscribe"><i
                                        class="fa fa-paper-plane give-red-color" aria-hidden="true"></i></button>
                            </span>
                        </div>
                        <span id="subemailErrorMessage" class="text-danger"></span>
                    </form>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <small class="copyright">©Copyright&nbsp;2019&nbsp;Atcults. All Rights Reserved</small>
                <a class="privacy-policy" href="/privacy-policy">Privacy Policy</a>
            </div>
        </div>
    </div>
</footer>
<script type="text/javascript" src="/js/jquery.mCustomScrollbar.concat.min.js"></script>
