<div class="row">
  <div class="col-lg-9 mx-auto">
    <div class="what-next-section mobile-view-section mt-5 mb-5">
      <div class="what-next-form text-center">
        <div class="heading-what-next">
          <h2>What to do next..</h2>
          <hr class="hr-middle" />
        </div>
        <div class="subheading">
          <p>If you are worried about your digital presence for any particular reason, we would be very happy to help.</p>
          <p>Call us now on 9081100202 to speak to one of our friendly Support Team or fill in the Quick Contact Form
            above. You are also very welcome to visit us during our office hours, 6 days a week.</p>
        </div>
        <div class="form-content">
          <form enctype='application/json' onsubmit="return true;">
            <div class="row">
              <div class="col-md-6">
                <input type="email" placeholder="Email*" name="emailaddress" id="emailaddressnext"/>
                <span id="emailErrorMessage" class="text-danger"></span>
              </div>
              <div class="col-md-6">
                <input type="text" placeholder="Subject*" name="subject" id="subjectnext"/>
                <span id="lastErrorMessage" class="text-danger"></span>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <textarea placeholder="Message*" rows="2" id="messagenext" name="description"></textarea>
                <span id="msgNextErrorMessage" class="text-danger"></span>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <button class="btn-submit" type="button" id="submitnext">Submit</button>
              </div>
            </div>
            <div id="loading" class="loading" style="display:none">
                <p class="loader"></p>
              </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>