<section class="mobile-view-section mt-5">
    <div class="container-fluid p-0">
      <div class="img-fluid text-center" style="background: url(/images/why.jpg) center no-repeat;padding: 160px 0;background-size: cover;">
      <div class="container">
        <div class="row">
    <div class="col-lg-9 mx-auto">
        <div class="why-center-bg-white">
          <div class="why-choose-us">
            <div class="why-choose-us-heading">
              <h3>Why choose us?</h3>
            </div>
            <div class="why-choose-us-content">
              <p><i class="fa fa-check give-red-color" aria-hidden="true"></i> Total IT Software Solutions interfaces with clients to identify their requirement and accordingly, designs, develops and implements an integrated and comprehensive IT or software based solution.</p>
              <p><i class="fa fa-check give-red-color" aria-hidden="true"></i> We put all of our energy into listening and understanding your needs, developing your custom solution, and striving to deliver above and beyond your requirements.</p>
              <p><i class="fa fa-check give-red-color" aria-hidden="true"></i> We take pride in our work and treat your business initiatives as if they were ours, realizing that your success translates into ours.</p>
              <p><i class="fa fa-check give-red-color" aria-hidden="true"></i> Proper documentation of your network is critical for us, fast resolution of problems and to get projects done right the first time.</p>
            </div>
          </div>
          <div class="why-choose-us">
            <div class="why-choose-us-heading">
              <h3>Features</h3>
            </div>
            <div class="why-choose-us-content">
              <p><i class="fa fa-check give-red-color" aria-hidden="true"></i> Fast Response To Requests & Critical Response Time Guaranteed.</p>
              <p><i class="fa fa-check give-red-color" aria-hidden="true"></i> A Wide Spectrum Of Skills & Experience.</p>
              <p><i class="fa fa-check give-red-color" aria-hidden="true"></i> Committed to Quality. Security is Paramount.</p>
            </div>
          </div>
        </div>
      </div>
      </div>
      </div>
      </div>
    </div>
</section>