{{ define "main" }}
<article>
    <header>
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1" class=""></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2" class=""></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="3" class=""></li>
            </ol>
            <div class="carousel-inner" role="listbox">
                <div class="carousel-item active" style="background-image: url('/images/banner09.jpg')">
                    <div class="slider-content-left">
                        <h2>Are You Ready to<br>
                            Grow your business? </h2>
                        <p>You’ve come to the right place!<br>
                            All tools you need for success.</p>
                    </div>
                </div>
                <div class="carousel-item" style="background-image: url('/images/banner04.jpg')">
                    <div class="slider-content-right">
                        <h2>Digital Marketing to<br>
                            boost your presence!</h2>
                        <p>Build new connections &#38; find<br>
                            new customers for products.</p>
                    </div>
                </div>
                <div class="carousel-item" style="background-image: url('/images/banner11.jpg')">
                    <div class="slider-content-left">
                        <h2>We are here to <br>
                            serve you the best</h2>
                        <p>App development for<br>
                            mobile &#38; web.</p>
                    </div>
                </div>
                <div class="carousel-item" style="background-image: url('/images/banner03.jpg')">
                    <div class="slider-content-right">
                        <h2>Promote Business<br>
                            with quality</h2>
                        <p>With Microsoft<br>
                            Dynamics 365 &#38; Power BI.</p>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev"> <span
                    class="carousel-control-prev-icon" aria-hidden="true"></span> <span class="sr-only">Previous</span>
            </a> <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span> <span class="sr-only">Next</span>
            </a>
        </div>
    </header>
    <section class="section whatatcults mt-5 mb-5">
        <div class="container">
            <div class="row">
                <div class="col-md-7 m-auto">
                    <div class="whatisatcults text-center">
                        <h2>What is Atcults?</h2>
                        <hr class="hr-style" style="float: none">
                        <div class="clearfix"></div>
                        <p>Our endeavor is to sail across the endless ocean of online activities. We believe that while
                            half of the planet sleeps, the other half gets brimming with online communication and
                            activities. We understand the tricks and trends on social media; hence we strive to offer
                            our expertise in Social Media Marketing, to push your business into a hyper drive. In
                            today’s technologically driven days, the client base of a company is not only limited to a
                            local reach but has spawned up to a global level. The vast difference in the cultural
                            perspective towards communication has strived our team to work towards ‘At Cults’.</p>
                        <p class="knowmore"><a class="knowmore-button getstarted" href="/about">Know More</a></p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="ourservices">
        <div class="container0">
            <div class="row ml-0 mr-0">
                <div class="col-lg-6"> <a class="ourservices-box  ourservices-box03"
                        href="/services/microsoft-dynamics-365">
                        <div class="ourservices-text">
                            <h2>Microsoft Dynamics 365 <span><i class="fa fa-chevron-circle-right"
                                        aria-hidden="true"></i></span></h2>
                        </div>
                    </a> </div>
                <div class="col-lg-6"> <a class="ourservices-box" href="/services/digital-marketing">
                        <div class="ourservices-text">
                            <h2>digital marketing <span><i class="fa fa-chevron-circle-right"
                                        aria-hidden="true"></i></span></h2>
                        </div>
                    </a> </div>
                <div class="col-lg-6"> <a class="ourservices-box ourservices-box02"
                        href="/services/mobile-and-web-apps">
                        <div class="ourservices-text">
                            <h2>Mobile &#38; Web Apps <span><i class="fa fa-chevron-circle-right"
                                        aria-hidden="true"></i></span></h2>
                        </div>
                    </a> </div>
                <div class="col-lg-6"> <a class="ourservices-box ourservices-box01" href="/services/power-bi">
                        <div class="ourservices-text">
                            <h2>Power BI <span><i class="fa fa-chevron-circle-right" aria-hidden="true"></i></span></h2>
                        </div>
                    </a> </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </section>
    <section class="section getintouch">
        <div class="container0">
            <div class="row ml-0 mr-0">
                <div class="col-md-6 pl-0 pr-0">
                    <div> <img alt="What Atcults" class="img-fluid" src="/images/getintouch.jpg"> </div>
                </div>
                <div class="col-md-6 col-lg-5 ml-auto d-flex align-items-center">
                    <div class="getintouch m-3">
                        <h2>Get in Touch!</h2>
                        <div class="clearfix"></div>
                        <p>Let's talk about your needs </p>
                        <p>Get in touch about your digital marketing, web development or social media needs. Whether
                            big or small, we're sure to be able to help.</p>
                        <p>You can also check out our portfolio to see some of the work we have done over the years.</p>
                        <p><a class="knowmore-button getstarted" href="/contactus/">Contact Us</a></p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="testimonial">
        <div class="container">
            <div class="col-md-12">
                <div class="col-md-12">
                    <div class="testimonial-top">
                        <h2>Testimonial</h2>
                        <hr class="style-hr-center">
                        <p>What our clients say about us</p>
                    </div>
                    <div id="carouselExampleIndicatorss" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="1" class=""></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="2" class=""></li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <div class="card-testimonial card-plain">
                                    <div class="card-body">
                                        <h5 class="card-description">"Atcults' in-depth knowledge of existing as well as
                                            latest technologies and customer centric approach has made them stand out
                                            from other software companies. After minutely listening our requirements,
                                            they apply their mind in designing the software/solution in such a way that
                                            we always get a wonderful user experience. Once installed, the software
                                            designed by them requires almost nil maintenance."</h5>
                                        <h4 class="card-title">Dushyant Upadhyay</h4>
                                        <h6 class="card-category text-muted">Technical Lead @ Rapidradio Solutions Pvt.
                                            Ltd</h6>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="card-testimonial card-plain">
                                    <div class="card-body">
                                        <h5 class="card-description">"Flexibility is the one word I would use to
                                            describe Atcults – their ability to be diverse in core competencies and
                                            stitch them together appropriately. Atcults is an intelligent partner;
                                            someone I can count on to create new value, and add new dimensions to our
                                            products. The leadership at Atcults took a keen interest in learning about
                                            our business and what makes us different and we see that in our interactions
                                            with them."</h5>
                                        <h4 class="card-title">Aditya Rajwadi</h4>
                                        <h6 class="card-category text-muted">Director @ Rajwadi Tea</h6>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="card-testimonial card-plain">
                                    <div class="card-body">
                                        <h5 class="card-description">"Its happened to me & if you’re reading this,
                                            chances are it’s happened to you, too...!!!<br>
                                            You go above and beyond for your owned brand... "Go with Atcults...!!!"<br>
                                            And when you do… You will feel the difference 360...!!! If that sounds
                                            familiar, don’t worry—you’re not alone."</h5>
                                        <h4 class="card-title">Sunil Modi</h4>
                                        <h6 class="card-category text-muted">Founder @ Sanelite Solutions Pvt. Ltd.</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a class="carousel-control-prev" href="#carouselExampleIndicatorss" role="button"
                            data-slide="prev"> <span class="carousel-control-prev-icon" aria-hidden="true"></span> <span
                                class="sr-only">Previous</span> </a> <a class="carousel-control-next"
                            href="#carouselExampleIndicatorss" role="button" data-slide="next"> <span
                                class="carousel-control-next-icon" aria-hidden="true"></span> <span
                                class="sr-only">Next</span> </a>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </section>
    <section id="dataTable" class="mt-5">
        <div class="blog-grid-wrapper">
            <div class="blog-grid-area section">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 text-center mb-2">
                            <h2>Our Blogs</h2>
                            <hr class="style-hr-center">
                        </div>
                        <div class="clearfix"></div>
                        {{ range first 3 ( where .Site.RegularPages.ByDate.Reverse "Type" "blog" )}}
                        <div class="col-md-4 col-sm-6">
                            <div class="single-blog" style="height: 90%;">
                                <div class="blog-img"> <a href="{{ .Params.url}}"><img src="{{.Params.blogimage1}}"
                                            alt="blog"></a>
                                    <div class="blog-date"> <span>{{.Params.blogdate}}</span> </div>
                                </div>
                                <div class="blog-info">
                                    <div class="blog-title">
                                        <h3><a href="{{ .Params.url}}">{{.Params.title}}</a></h3>
                                    </div>
                                    <div class="blog-meta fix">
                                        <ul>
                                            <li class="pull-left"><span class="flaticon-user"></span>{{.Params.author}}
                                            </li>
                                            <li class="pull-right"><span
                                                    class="flaticon-folder"></span>{{.Params.subject}}
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="blog-content">
                                        <p>{{.Params.blogsummary}}</p>
                                    </div>
                                    <div class="blog-btn"> <a href="{{ .Params.url}}">Continue Reading <span
                                                class="fa fa-long-arrow-right"></span></a> </div>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        {{ end }}
                    </div>
                </div>
            </div>
        </div>
    </section>
</article>
{{ end }}